tokens = ["some token that must be in the incoming requests 'Authorization' header, after 'Token'"]

[database_connection]
username = "postgres"
password = "some-very-secret-password-here"
host = "localhost"
database = "atmospi"
port = 5432

